@{
    ViewData["Title"] = "The Great List of Movies";
}
@model List<MovieSubmissionModel>

<table class="table table-bordered">

    <thead class="font-weight-bold table-striped">
        <tr>
            <td>MovieID</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent</td>
            <td>Notes</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model)
            {
            <tr>
                <td>@x.MovieId</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.Lent</td>
                <td>@x.Notes</td>
            </tr>
            }
    </tbody>
</table>
